//
//
// Colours
//
//

$c-primary: #0A86EC;
$c-secondary: #0F0143;
$c-tertiary: #73E876;

$c-red: #FA5252;
$c-pink: #E64980;
$c-grape: #BE4BDB;
$c-violet: #7950F2;
$c-indigo: #4C6EF5;
$c-blue: #228AE6;
$c-cyan: #15AABF;
$c-teal: #12B886;
$c-green: #51CF66;
$c-lime: #82C91E;
$c-yellow: #FAB005;
$c-orange: #FD7E14;

$c-lighter: #F5F5F5;
$c-light: #DDDDDD;
$c-grey: #555555;
$c-dark: #333333;
$c-darker: #272727;

$c-white: #ffffff;
$c-black: #000000;

$c-font: #666666;